@model Recipe
@{
    ViewBag.Title = $"{Model.DishName} by {@Model.Author} - iCOOK";
}

<div class="text-center">
    <div class="card border-info mb-3 w-60 align-self-center mr-auto ml-auto">
        <div class="row no-gutters mr-auto ml-auto w-50">
            @*<div class="col p-2">
                <img id="dishPic" src="~/@Model.Images.FirstOrDefault().Path" class="card-img" />
            </div>*@
            <div id="detailPictures">
                <div id="largePictures">
                    <img id="detailPic" height="300" width="300" src="~/@Model.Images.FirstOrDefault().Path">
                </div>
                <div>
                    <div id="gallery">
                        @foreach (Image i in Model.Images)
                        {
                            <img class="thumbnails" height="80" src="~/@i.Path" width="80" onclick="changePic('/@i.Path')">
                        }
                        
                    </div>

                </div>
            </div>
            <div class="col">
                <div class="card-body">
                    <h4 class="card-title">@Model.DishName</h4>
                    <p class="card-text">@Model.BriefIntro</p>
                    <p class="card-text">
                        <small class="text-muted">
                            <i class="fas fa-user-circle"></i>@Model.Author
                        </small>
                    </p>
                    <a class="btn btn-outline-info" asp-action="ReviewRecipe" asp-controller="Home">Add Review</a>
                    <a class="btn btn-outline-warning" asp-action="Index" asp-controller="Admin">Update Recipe</a>
                </div>
            </div>
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">
                <div>Serving: @Model.Servings</div>
                <div>Prepare Time: @Model.PrepTime</div>
            </li>
            <li class="list-group-item">
                Ingredients<br />
                @Model.Ingredients
            </li>
            <li class="list-group-item">
                Directions<br />
                @Model.Directions
            </li>
        </ul>
    </div>

    <a asp-action="RecipeList" class="btn btn-secondary">Back</a>
</div>