@model Recipe

<div class="card card-outline-primary m-1 p-1 d-inline-block">
    <div class="bg-faded p-1">
        <img id="dishPic" src="~/images/@Model.ImagePath" />
    </div>
    <div class="bg-faded p-1">
        <h4>
            @Model.DishName
        </h4>
        <small>by @Model.Author</small>
    </div>

    <div>
        <span class="card-text p-1">
            @*Display limit words for Bried Intro*@
            @if (Model.BriefIntro.Length > 25) 
            {
                @Model.BriefIntro.Substring(0, Model.BriefIntro.IndexOf(" ", 25)); @: ...
            }
            else
            {
                @Model.BriefIntro;
            }
            <a class="btn btn-success btn-sm pull-right" asp-action="ViewRecipe" asp-route-recipeID="@Model.RecipeID">
                View Recipe
            </a>
        </span>
    </div>
</div>
